# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
terraform.tfvars
override.tf
override.tf.json

# Kubernetes
kubeconfig
*.kubeconfig
.kube/

# Secrets
*.pem
*.key
.env
vault.yml
*secret*
node-token

# Ansible
*.retry

# General
.DS_Store
terraform.tfvars
